.bloco div {
    background-color: rgb(246, 22, 22);
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 100px; /* Centraliza o texto verticalmente */
    color: white; /* Cor do texto */
    transition: all 0.3s; /* Transição suave */
}
